/* h1 {

color: blue;
font-family: halyard;

}

body {

background-color: rgb(226, 200, 166);
}

p {
color: blue;
font-family: halyard;
}

ul  {
    color: blue;
}

#skierpicture {
    width: 350px;
    height: 250px;

}

#mountainbikingpic {
    width: 350px;
    height: 250px;
}

h2 {
    color: blue;
}

h3 {
    color: blue;
} */


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  