@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
    /* Add more file formats if necessary */
  }

body {
    margin: 0;
    font-family: 'JetBrainsMono-Regular', sans-serif; /*Arial, sans-serif*/
}

#container {
    display: flex;
    /*new*/
    flex-direction: column;
    min-height: 100vh;
}

#left-column {
    /* width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;
    background-color: #f0f0f0; */

    /*new*/
    width: 100%; /* Full width on smaller screens */
    min-height: 100%;
    position: relative; /* Remove fixed positioning */
    overflow-y: auto;
    padding: 20px;
    background-color: #f0f0f0;
}

#left-column h1 {
    margin-bottom: 10px;
}

#left-column hr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#left-column ul {
    list-style-type: none;
    padding: 0;
}

#left-column li {
    margin-bottom: 10px;
}

#left-column a {
    text-decoration: none;
    color: #333;
}

#left-column a:hover {
    color: #007bff;
}

#right-column {
    /* flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    /*new*/
    width: 100%; /* Full width on smaller screens */
    margin-left: 0; /* Remove margin on smaller screens */
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

/* Add more styles as needed */

/* Additional styling to make it visually appealing */

.menu {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

#right-column img {
    max-width: 100%; /* make the image responsive, adjusting to the width of the div */
    max-height: 100%; /* make the image responsive, adjusting to the height of the div */
    display: block; /* remove extra space below inline images */
    margin: auto; /* center the image within the div */
}

#headshotpic {
    /* width: 45%;
    height: auto; */

    /*new*/
    width: 100%;
    height: auto;
}

.menu h2 {
    text-align: center;
}


/*all new*/
@media only screen and (min-width: 600px) {
    /* Additional styles for screens with a minimum width of 600px */
    #container {
        flex-direction: row; /* Display columns side by side on larger screens */
    }

    #left-column {
        width: 20%; /* Adjust width for larger screens if needed */
        position: fixed;
    }

    #right-column {
        width: 80%; /* Adjust width for larger screens if needed */
        margin-left: 20%;
    }

    #headshotpic {
        width: 45%; /* Adjust width for larger screens if needed */
    }
}